
.contact-form{
	margin:auto;
}

.contact-form h5{
	display:inline;
	font-size:25px;
	color:grey;
	margin-right:5px;
}
.contact-form input[type=text]{
	margin-top:10px;
	display:inline-block;
	width:20%;
	height:40px;
	font-size:18px;
	border:none;
	border-bottom:solid 1px lightgrey;
}
.contact-form input[type=text]:focus{
	border-bottom:solid 2px grey;
}

@media screen and (max-width:680px) {
  .contact-form input[type=text]{
	width:100%;
}
}

.contact-form input[type=email]{
	margin-top:10px;
	display:inline-block;
	width:20%;
	height:40px;
	font-size:18px;
	border:none;
	border-bottom:solid 1px lightgrey;
}
.contact-form input[type=email]:focus{
	border-bottom:solid 2px grey;
}

@media screen and (max-width:680px) {
  .contact-form input[type=email]{
	width:100%;
}
}

.contact-form input[type=number]{
	margin-top:10px;
	display:inline-block;
	width:11%;
	height:40px;
	font-size:18px;
	border:none;
	border-bottom:solid 1px lightgrey;
}
.contact-form input[type=number]:focus{
	border-bottom:solid 2px grey;
}

@media screen and (max-width:680px) {
  .contact-form input[type=number]{
	width:100%;
}
}

.contact-form textarea{
	margin-top:7px;
	display:inline-block;
	width:45%;
	height:70px;
	font-size:18px;
	border:none;
	resize:none;
	border-bottom:solid 1px lightgrey;
}
.contact-form textarea:focus{
	border-bottom:solid 2px grey;
}

@media screen and (max-width:680px) {
  .contact-form textarea{
	width:100%;
}
}

.subbtn{
	margin-top:25px;
	width:15%;
	height:30px;
	background-color:transparent;
	text-transform:uppercase;
	font-size:18px;
	color:grey;
	border-radius:10px;
	border:solid 3px grey;
}

@media screen and (max-width:680px) {
  .subbtn{
	width:40%;
}
}

